# Python-related
*.pyc
*.pyo
__pycache__/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
data/chatbot_data.csv

# Model files
models/chatbot_model.pkl

# IDE and editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Other
*.swp
